{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}

<h2>Acumulado Mensual</h2>
<a href="/departments/new" type="button" class="btn btn-outline-success">Agregar departamento</a>
<a href="/departments/byDay" type="button" class="btn btn-outline-info">Acumulado Diario</a>
<a href="/departments/byMonth" type="button" class="btn btn-outline-primary">Acumulado Mensual</a>
<a href="/departments/byYear" type="button" class="btn btn-outline-danger">Acumulado Anual</a>
<table id="departments" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Departamento</th>
      <th scope="col">Propina</th>
    </tr>
  </thead>
  <tbody>
    {% for querys in query %}
    <tr>
     <td>{{querys.name}}</td>
     <td>{{ querys.suma|number_format(2,'.',',') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}