{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}

<h2>Acumulado Anual</h2>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Opciones
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a href="/departments/new" class="dropdown-item">Agregar departamento</a>
    <a href="/departments/byDay" class="dropdown-item">Acumulado Diario</a>
    <a href="/departments/byWeek" class="dropdown-item">Acumulado Semanal</a>
    <a href="/departments/byMonth" class="dropdown-item">Acumulado Mensual</a>
    <a href="/departments/byYear" class="dropdown-item">Acumulado Anual</a>
  </div>
</div>
<table id="departments" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Departamento</th>
      <th scope="col">Propina</th>
    </tr>
  </thead>
  <tbody>
    {% for querys in query %}
    <tr>
     <td>{{querys.name}}</td>
     <td>{{ querys.suma|number_format(2,'.',',') }}</td>
    </tr>
    {% endfor %}
    {% for datas in data %}
    <td>Total</td>
    <td>{{ datas.suma|number_format(2,'.',',') }}</td>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
 <script src="/js/jquery-3.3.1.slim.min.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
{% endblock %}