{% extends 'base.html.twig' %}

{% block title %}New Department{% endblock %}

{% block body %}

{# templates/default/new.html.twig #}
<h2>Edit Department</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}