{% extends 'base.html.twig' %}

{% block title %}Editar departamento{% endblock %}

{% block body %}

{# templates/default/new.html.twig #}
<h2>Editar departamento</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}