{% extends 'base.html.twig' %}

{% block title %}Agregar Departamento{% endblock %}

{% block body %}

{# templates/default/new.html.twig #}
<h2>Agregar Departamento</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}