{% trans_default_domain 'FOSUserBundle' %}

<body class="text-center">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 
                'attr': {'class': 'form-signin'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
</body>