{% extends 'base.html.twig' %}

{% block title %}Control Sistem{% endblock %}

{% block body %}
<style type="text/css">
    #chart-container{
        width: 640 px;
        height: auto;
    }
</style>
<div id="chart-container">
    <canvas id="mycanvas"></canvas>
</div>
{% endblock %}

{% block javascripts %}
 <script src="/js/main.js"></script>
 <script src="/js/jquery-3.4.1.min.js"></script>
 <script src="/js/chart/Chart.js"></script>
 <script src="/js/app-chart.js"></script>
{% endblock %}