{% extends 'base.html.twig' %}

{% block title %}Control de propina{% endblock %}

{% block body %}
<h2>Detalles de la propina</h2>
<h4>{{ctrlmovs.employee}}</h4>
<br>
<p><h4>Fecha:</h4></p>
<p>{{ctrlmovs.date|date('d-m-y h:i')}}</p>
<p><h4>Propina:</h4></p>
<p>{{ctrlmovs.amount|number_format(2,'.',',')}}</p>
<p><h4>Descripción:</h4></p>
<p>{{ctrlmovs.description}}</p>

{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}