{% extends 'base.html.twig' %}

{% block title %}Agregar Propina{% endblock %}

{% block body %}

{# templates/ctrlmov/new.html.twig #}
<h2>Agregar propina</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}