{% extends 'comercial.html.twig' %}

{% block title %}Agregar Almuerzo{% endblock %}

{% block body %}

{# templates/almuerzo/new.html.twig #}
<h2>Agregar almuerzo</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}