{% extends 'base.html.twig' %}

{% block title %}Crear Trabajador{% endblock %}

{% block body %}

{# templates/employees/new.html.twig #}
<h2>Crear Trabajador</h2>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}